*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
//     background: rgb(85,85,222);
//     background: linear-gradient(101deg, rgba(85,85,222,1) 0%, rgba(226,70,83,1) 100%); 
}
#hide{
    display: none;
}
.header{
    padding: 2% 5%;
    // position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .header-brand{
        display: flex;
        font-size: 300%;
        text-transform: capitalize;
        letter-spacing: 3px;
        font-style: bold;
        font-weight: 900;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
        background: -webkit-linear-gradient(270deg, rgba(84,63,251,1) 0%, rgba(252,70,70,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        filter:drop-shadow(3px 4px 3px  grey)
    }
    .header-details{
        display: flex;
        font-family: sans-serif;

        .header-income-details{
            display: flex;
            padding: 3% 20px;
            font-weight: 600;
            font-size: 24px;
            margin-right: 5px;
            border-radius: 20px;
            box-shadow: 2px 2px 10px 1px #7a7979;
            #details-head{
                // display: flex;
        
            }
            #details-income-amount{
                color: #000080;
            }
        }
        .header-expense-details{
            margin-left: 5px;
            display: flex;
            padding: 3% 20px;
            font-weight: 700;
            border-radius: 20px;
            box-shadow: 2px 2px 10px 1px #7a7979;
            font-size: 24px;

            #details-head{
                // display: flex;
        
            }
            #details-expense-amount{
                color: #eb2334;
            }
            #details-savings-amount{
                color: yellow;
            }
        }
        .header-savings-details{
            margin-left: 5px;
            display: flex;
            padding: 3% 20px;
            font-weight: 700;
            border-radius: 20px;
            box-shadow: 2px 2px 10px 1px #7a7979;
            font-size: 24px;

            #details-head{
                // display: flex;
        
            }
            #details-amount{
                color: #eb2334;
            }
        }
    }
}

.container{
    display: flex;
    justify-content: space-between;
    padding: 2% 5%;
    .income-container{
        margin-bottom: 6%;
        width: 48%;
        // box-shadow: 2px 2px 10px 2px #7a7979 ;
        .container-head{
            display: flex;
            justify-content: space-between;
            .container-head-brand{
                text-align: center;
                font-size: 26px;
                font-weight: 600;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                padding: 5px ;
                letter-spacing: 2px;
                color: #000080;
            }
            .container-head-button{
                display: flex;
                .container-head-button-max{
                    border: 0;
                    background-color: #000080;
                    color: #fff;
                    font-size: 26px;
                    border-radius: 20px;
                    display: flex;
                    #container-income-button-max{
                    padding: 5px  10px;
                    display: block;
                }
            }
            .container-head-button-max:hover{
            }
            .container-head-button-max:active{
                box-shadow: 1px 3px 5px 0px  #7a7979;
                transform: translateY(2px);
            }
            .container-head-button-min{
                border: 0;
                background-color: #000080;
                color: #fff;
                padding: 5px  10px;
                font-size: 26px;
                border-radius: 20px;
                display: none;
                #container-income-button-min{
                    padding: 5px  10px;
                    display: block;
                }
                
                
            }
            .container-head-button-min:hover{
            }
            .container-head-button-min:active{
                box-shadow: 1px 3px 5px 0px  #7a7979;
                transform: translateY(2px);
            }
            
        }
    }
        .container-body{
            
            .income-table{
                margin-top: 5%;
                table{
                    border-collapse: collapse;
                    width: 100%;
                    thead{
                        border-bottom: 2px solid black;
                        font-size: 20px;
                        tr{
                            text-align: center;
                            th{
                            }
                        }
                    }
                    tbody{
                        text-align: center;
                        tr{
                            color: #fff;
                            background-color: #000080;
                            border-top: 20px solid #fff;
                            border-bottom: 20px solid #fff;
                            
                            td{
                                font-size: 18px;
                                #edit-container-income-button{
                                    font-size: 18px;
                                    border: 0;
                                    background-color: transparent;
                                    color: #fff;
                                    
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .expense-container{
        width: 48%;
        // box-shadow: 2px 2px 10px 2px #7a7979 ;

        // border: 1px solid black;
        .container-head{
            display: flex;
            justify-content: space-between;
            text-align: center;
            .container-head-brand{
                text-align: center;
                // border: 1px solid black;
                font-size: 26px;
                font-weight: 600;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                padding: 5px ;
                letter-spacing: 2px;
                color: #eb2334;

            }
            .container-head-button{
                display: flex;
                .container-head-button-max{
                    display: block;
                    border: 0;
                    background-color: #eb2334;
                    color: #fff;
                    padding: 5px  10px;
                font-size: 26px;
                border-radius: 20px;
                
            }
            .container-head-button-max:hover{
            }
            .container-head-button-max:active{
                box-shadow: 1px 3px 5px 0px  #7a7979;
                transform: translateY(2px);
            }
            .container-head-button-min{
                border: 0;
                background-color: #eb2334;
                color: #fff;
                padding: 5px  10px;
                font-size: 26px;
                border-radius: 20px;
                display: none;
            }
            .container-head-button-min:hover{
            }
            .container-head-button-min:active{
                box-shadow: 1px 3px 5px 0px  #7a7979;
                transform: translateY(2px);
            }
            
        }


        }
        .container-body{
            
            .expense-table{
                margin-top: 5%;
                table{
                    border-collapse: collapse;
                    width: 100%;
                    thead{
                        border-bottom: 2px solid black;
                        font-size: 20px;
                        tr{
                            text-align: center;
                            th{
                            }
                        }
                    }
                    tbody{
                        text-align: center;
                        tr{
                            background-color: #eb2334;
                            color: #fff;
                            border-top: 20px solid #fff;
                            border-bottom: 20px solid #fff;
                            
                            td{
                                font-size: 18px;
                                #edit-container-expense-button{
                                    font-size: 18px;
                                    border: 0;
                                    background-color: transparent;
                                    color: #fff;
                                    
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

.input-container{
    top: -4%;
    left: 0;
    width: 100%;
    padding: 2% 5%;
    position: fixed;
    z-index: 99;
    opacity: 1;
    .input-income{
        border-radius: 20px;
        box-shadow: 2px 2px 10px 1px #7a7979;
        display: none;
        background: rgb(0,0,128);
        background: linear-gradient(85deg, rgba(0,0,128,1) 0%, rgba(106,54,240,1) 100%);
        .input-income-head{
            .input-income-head-brand{
                margin-bottom: 2%;
                font-size: 32px;
                text-align: center;
                color: #fff;font-weight: 700;
            }
        }
        .input-income-body{
            display: flex;
            justify-content: space-around;
            padding: 2% 0%;
            .income-item-input{
                font-size: 20px;
                
            }
            .income-amount-input{
                font-size: 20px;

            }
            .income-add-btn{
                font-size: 20px;
                padding: 0 3%;
                background-color: transparent;
                color: #fff;
                border: 0;
                
            }
        }
        
    }
    .edit-input-income{
        border-radius: 20px;
        box-shadow: 2px 2px 10px 1px #7a7979;
        display: none;
        background: rgb(0,0,128);
        background: linear-gradient(85deg, rgba(0,0,128,1) 0%, rgba(106,54,240,1) 100%);
        .edit-input-income-head{
            .edit-input-income-head-brand{
                margin-bottom: 2%;
                font-size: 32px;
                text-align: center;
                color: #fff;font-weight: 700;
            }
        }
        .edit-input-income-body{
            display: flex;
            justify-content: space-around;
            padding: 2% 0%;
            .edit-income-item-input{
                font-size: 20px;
                
            }
            .edit-income-amount-input{
                font-size: 20px;

            }
            .edit-income-add-btn{
                font-size: 20px;
                padding: 0 3%;
                background-color: transparent;
                color: #fff;
                border: 0;
                
            }
        }
        
    }
    .input-expense{
        border-radius: 20px;
        box-shadow: 2px 2px 10px 1px #7a7979;
        display: none;
        background: rgb(196,34,62);
        background: linear-gradient(254deg, rgba(196,34,62,1) 0%, rgba(243,39,58,1) 100%);  
        .input-expense-head{
            .input-expense-head-brand{
                margin-bottom: 2%;
                font-size: 32px;
                text-align: center;
                color: #fff;font-weight: 700;

            }
        }
        .input-expense-body{
            display: flex;
            justify-content: space-around;
            padding: 2% 0%;
            .expense-item-input{
                font-size: 20px;

            }
            .expense-amount-input{
                font-size: 20px;

            }
            .expense-add-btn{
                font-size: 20px;
                padding: 0 3%;
                background-color: transparent;
                color: #fff;
                border: 0;
            }
        }
    }
    .edit-input-expense{
        border-radius: 20px;
        box-shadow: 2px 2px 10px 1px #7a7979;
        display: none;
        background: rgb(196,34,62);
        background: linear-gradient(254deg, rgba(196,34,62,1) 0%, rgba(243,39,58,1) 100%);  
        .edit-input-expense-head{
            .edit-input-expense-head-brand{
                margin-bottom: 2%;
                font-size: 32px;
                text-align: center;
                color: #fff;font-weight: 700;

            }
        }
        .edit-input-expense-body{
            display: flex;
            justify-content: space-around;
            padding: 2% 0%;
            .edit-expense-item-input{
                font-size: 20px;

            }
            .edit-expense-amount-input{
                font-size: 20px;

            }
            .edit-expense-add-btn{
                font-size: 20px;
                padding: 0 3%;
                background-color: transparent;
                color: #fff;
                border: 0;
            }
        }
    }
}


@media screen and (max-width: 1200px) {
    .container{
        display: block;
        width: 100%;
        .income-container{
            width: 100%;
        }
        .expense-container{
            width: 100%;
        }
    }
}
@media screen and (max-width: 1000px){
    .header{
        display: block
    }
    .header-details{
        margin-top: 2%;
        
    }
}
@media screen and (max-width: 700px){
    .header-details{
        display: block;
    }
}
